<!DOCTYPE html>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">


  <!-- Common Header Start -->
  <title>Rohit weds Ritu</title>
  <link href="css/mdb.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css" integrity="sha384-jLKHWM3JRmfMU0A5x5AkjWkw/EYfGUAGagvnfryNV3F9VqM98XiIH7VBGVoxVSc7" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link rel="stylesheet" href="css/style-falling-hearts.css" >
  <!-- Common Header End -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta property="og:title" content="Rohit weds Ritu" />
  <meta property="og:type" content="website" />
  <meta property="og:image" content="https://github.com/rohitfortune/invitation/raw/master/public/images/card.jpg" />
  <meta name="og:description" content="WEDDING DAY FEBRUARY 19, 2022 ">

<body>
  <canvas style="position: fixed; width: 100%; height: 100%; top: 0; left: 0; right: 0; bottom: 0; z-index: -2;" id="canvas" width="1143" height="364"></canvas>

<!-- Navigation bar start -->
  <nav class="navbar falling-hearts-pink fixed-top navbar-expand-xl navbar-dark">

    <a class="navbar-brand font-weight-light" style="color: #daa78d" href="#greeting_section">
      Wedding Invitation
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-4" aria-controls="navbarSupportedContent-4" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon text-gold"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent-4" >
      <ul class="navbar-nav ml-auto">
        <li class="nav-item m-2" data-toggle="collapse" data-target="#navbarSupportedContent-4">
          <a class="nav-link font-weight-bold waves-effect waves-light" style="color: #daa78d" href="#couple_intro">
            <i class="fa fa-heart"></i> Couple</a>
        </li>
        <li class="nav-item m-2" data-toggle="collapse" data-target="#navbarSupportedContent-4">
          <a class="nav-link font-weight-bold waves-effect waves-light" style="color: #daa78d" href="#section_main_event">
            <i class="fa fa-calendar"></i> Events</a>
        </li>
        <li class="nav-item m-2" data-toggle="collapse" data-target="#navbarSupportedContent-4">
          <a class="nav-link font-weight-bold waves-effect waves-light" style="color: #daa78d" href="#invitation_video_section">
            <i class="fa fa-video"></i> Invitation Video</a>
        </li>
        <li class="nav-item m-2" data-toggle="collapse" data-target="#navbarSupportedContent-4">
          <a class="nav-link font-weight-bold waves-effect waves-light" style="color: #daa78d" href="#section_location">
            <i class="fa fa-map-marker"></i> Location</a>
        </li>
      </ul>
    </div>
  </nav>
<!-- Navigation bar end -->

<!-- Greetings section Start-->

<div id="greeting_section">
  <div style="margin-top: 6em;" class="container justify-content-center">
    <img class="swirvey a9 rounded header-img" src="images/Image769055.jpeg" alt="Photo upload error. Email to rohitfortune@gmail.com">
  </div>

  <div class="row justify-content-center mt-5 ml-3 mr-3">
    <h1 class="header-couple-names text-center">Ritu &amp;
      Rohit</h1>
  </div>

  <div class="row justify-content-center mt-5 ml-3 mr-3">
    <h3 class="header-invitation-text text-center h3-responsive">
      Together with their families, request the pleasure of your company at their wedding celebration!
    </h3>
  </div>
</div>

<!-- Greetings section End-->

  <hr class="style_section d-flex fluid m-5">

<!-- Couple Section start -->
  <div class="row justify-content-center mt-5 ml-3 mr-3">
    <h1 id="couple_intro" class="couples-title text-center h1-responsive">Wedding Couple</h1>
  </div>

  <div id="section_couple" class="container mt-5">
    <div class="row">
      <div class="couple-wrap animate-box">
        <div class="couple-half">
          <div class="groom">
            <img src="images/ritu.jpg" alt="bride" class="img-responsive">
          </div>
          <div class="desc-groom">
            <h3>Ritu Gupta</h3>
            <p class="header-invitation-text">
            D/o Smt. Sunita Gupta &<br />Shri Jai Prakash Gupta</p>
          </div>
        </div>
        <p class="heart text-center">
          <i class="fas fa-heart heart-icon"></i>
        </p>
        <div class="couple-half">
          <div class="bride">
            <img src="images/rohit1.jpg" alt="groom" class="img-responsive">
          </div>
          <div class="desc-bride">
            <h3>Rohit Prasad</h3>
            <p class="header-invitation-text">
            S/o Smt. Poonam Prasad & <br>Shri Arun Kumar Prasad</p>
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- couple section end -->

  <hr class="style_section d-flex fluid m-5">

  <!-- Events Section Start-->

  <div id="section_main_event" class="row justify-content-center mt-5 ml-3 mr-3">
    <h1 class="couples-title text-center h1-responsive"> Events</h1>
  </div>

  <div class="row justify-content-center mt-5 ml-1 mr-1">
    <!-- Sangeet section -->
    <div class="card grey-700-bg lighten-1 text-center z-depth-2 justify-content-center m-3 p-2 col-xs-12 col-sm-12 col-md-4 col-lg-4">
      <div class="card_title">
        <br>
        <h2 class="main-events-title text-center h2-responsive">Sangeet</h2>
      </div>
      <hr class="white">
      <div class="card-body">
        <div class="row">
          <div class="col-5 justify-content-center">
            <span class="main-event-icon fa fa-clock"></span>
            <br>
            <br>
            <span class="white-text text-monospace font-weight-bold h5-responsive mt-2">
              06:00 pm
            </span>
          </div>
          <div class="col-7 justify-content-center">
            <span class="main-event-icon fa fa-calendar"></span>
            <br>
            <br>
            <span class="white-text text-monospace font-weight-bold h5-responsive mt-2">
              Thu, 17 Feb, 2022
            </span>
          </div>
          <br>
        </div>
        <p class="white-text h5-responsive mt-4 mb-2 ml-2 mr-2">
          Vasundhara Crest, Hatia, Ranchi
        </p>
      </div>
    </div>
    <!-- haldi section -->
    <div class="card grey-700-bg lighten-1 text-center z-depth-2 justify-content-center m-3 p-2 col-xs-12 col-sm-12 col-md-4 col-lg-4">
      <div class="card_title">
        <br>
        <h2 class="main-events-title text-center h2-responsive">Haldi</h2>
      </div>
      <hr class="white">
      <div class="card-body">
        <div class="row">
          <div class="col-5 justify-content-center">
            <span class="main-event-icon fa fa-clock"></span>
            <br>
            <br>
            <span class="white-text text-monospace font-weight-bold h5-responsive mt-2">
              11:00 am
            </span>
          </div>
          <div class="col-7 justify-content-center">
            <span class="main-event-icon fa fa-calendar"></span>
            <br>
            <br>
            <span class="white-text text-monospace font-weight-bold h5-responsive mt-2">
              Fri, 18 Feb, 2022
            </span>
          </div>
          <br>
        </div>
        <p class="white-text h5-responsive mt-4 mb-2 ml-2 mr-2">
          Vansundhara Crest, Hatia, Ranchi
        </p>
      </div>
    </div>
    <!-- Barat section -->
    <div class="card grey-700-bg lighten-1 text-center z-depth-2 justify-content-center m-3 p-2 col-xs-12 col-sm-12 col-md-4 col-lg-4">
      <div class="card_title">
        <br>
        <h2 class="main-events-title text-center h2-responsive">Wedding</h2>
      </div>
      <hr class="white">
      <div class="card-body">
        <div class="row">
          <div class="col-5 justify-content-center">
            <span class="main-event-icon fa fa-clock"></span>
            <br>
            <br>
            <span class="white-text text-monospace font-weight-bold h5-responsive mt-2">
              06:00 pm
            </span>
          </div>
          <div class="col-7 justify-content-center">
            <span class="main-event-icon fa fa-calendar"></span>
            <br>
            <br>
            <span class="white-text text-monospace font-weight-bold h5-responsive mt-2">
              Sat, 19 Feb, 2022
            </span>
          </div>
          <br>
        </div>
        <p class="white-text h5-responsive mt-4 mb-2 ml-2 mr-2">
          Jk Celebration, Bypass Rd, New Alkapuri
        </p>
      </div>
    </div>
  </div>

  <!-- Events Section End-->

  <hr class="style_section d-flex fluid m-5">

  <!-- invitation video start -->

  <div id="invitation_video_section" class="row justify-content-center mt-5 ml-3 mr-3">
    <h1 class="couples-title text-center h1-responsive"> Invitation Video</h1>
  </div>

  <div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src="images/vid.mp4" allowfullscreen autoplay></iframe>
  </div>

  <!-- invitation video end -->

  <hr class="style_section d-flex fluid m-5">

  <!-- wedding Location start -->
  <div id="section_location" class="row justify-content-center mt-5 ml-3 mr-3">
    <h1 class="couples-title text-center h1-responsive"> Wedding Location</h1>
  </div>
  <iframe class="embed-responsive-item" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3663.4583952663943!2d85.30072835079473!3d23.33540168472096!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39f4e12da8ea042f%3A0x47514b3714c37ec!2sJ%20K%20CELEBRATION!5e0!3m2!1sen!2sin!4v1642928055314!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>

  <!-- wedding location end -->

  <hr class="style_section d-flex fluid m-5">

  <div class="rsvp">
    <div id="section_location" class="row justify-content-center mt-5 ml-3 mr-3">
      <h1 class="couples-title text-center h1-responsive"> Wedding RSVP</h1>
    </div>
    <div id="ff-compose"></div>
    <script async defer src="https://formfacade.com/include/116683577961827097027/form/1FAIpQLSeXIPKZeKlEPTesV_wjVCkQ_0PZjLrh9rcUmFgzmsx_wXwlng/classic.js?div=ff-compose"></script>
  </div>

  <!-- footer section -->

  <footer class="page-footer falling-hearts-pink font-small custom-footer">
    <div class="footer-copyright text-center py-3 " style="color: #daa78d">© 2022 Copyright</div>
  </footer>


  <!--Font Awesome-->
  <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
  <!--Bootstrap scripts-->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script type="text/javascript" src="scripts/falling-hearts.js"></script>
  <script src="scripts/simplyCountdown.js"></script>
